$brand-color: #76c7c0;
$brand-color2: #e8645a;
$brand-color3: #62a29e;
$brand-color3-shadow: rgba(82, 139, 134, 1);
$brand-color2-shadow: rgba(226,83,75,1);
$brand-color-shadow: rgba(98,189,189,1);
$main-slider-dots: #b0b8b9;
$color-white: #ffffff;
$background-homepage: #ececec;
$headers-color: #7f8c8c;
$skill-item-background: #f8f8f8;
$skill-item-shadow: rgba(229,230,230,1);
$services-background: #f3f3f3;
$why-modus-background: #ececec;
$why-modus-window: #c1c7c8;
$why-modus-shadow: rgba(193,199,200,1);
$window-circles: #ececec;
$footer-header-color: #000000;

