@charset "UTF-8";
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../fonts/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-RegularItalic";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[dir=rtl] .slick-prev {
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

[dir=rtl] .slick-next {
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@keyframes rotate-one {
  100% {
    transform: rotate(21.6deg);
    /**
     * 12% => 21.6deg
     */
  }
}
@keyframes rotate-two {
  0% {
    transform: rotate(21.6deg);
  }
  100% {
    transform: rotate(79.2deg);
    /**
     * 32% => 57.6deg
     * 57.6 + 21.6 => 79.2deg
     */
  }
}
@keyframes fadein {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(30%);
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(30%);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(30%);
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(30%);
  }
}
.header-content.slider .slick-slider-image {
  width: 100%;
}
.header-content.slider .slick-slider-image.toggled-nav {
  filter: brightness(30%);
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-content.slider .slick-slider-image {
    height: 70vw;
    min-height: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header-content.slider .slick-slider-image {
    height: 40vw;
  }
}
@media (min-width: 1280px) {
  .header-content.slider .slick-slider-image {
    max-height: 501px;
  }
}
.header-content.slider .slick-dots {
  position: absolute;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-content.slider .slick-dots {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .header-content.slider .slick-dots {
    width: 100%;
  }
}
.header-content.slider .slick-dots li.slick-active:before {
  opacity: 1;
  background-color: #e8645a;
}
.header-content.slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 1%;
  margin: 0 36px -16px 16px;
  cursor: pointer;
}
.header-content.slider .slick-dots li button {
  display: none;
}
.header-content.slider .slick-dots li::before {
  content: "";
  min-height: 5px;
  position: absolute;
  font-size: 35px;
  text-align: center;
  background-color: #b0b8b9;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-content.slider .slick-dots li::before {
    min-width: 40px;
  }
}
@media (min-width: 768px) {
  .header-content.slider .slick-dots li::before {
    min-width: 55px;
  }
}
.header-content.slider .slick-prev {
  left: 0;
  background-image: url(../../images/double-back-arrow.png);
  background-repeat: no-repeat;
  z-index: 10;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.header-content.slider .slick-next {
  right: 0;
  background-image: url(../../images/double-next-arrow.png);
  background-repeat: no-repeat;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.header-content.slider .slick-next,
.header-content.slider .slick-prev {
  background-color: #e8645a;
  -webkit-box-shadow: 0 4px 0 0 #e2534b;
  -moz-box-shadow: 0 4px 0 0 #e2534b;
  box-shadow: 0 4px 0 0 #e2534b;
  background-position: center;
  min-width: 50px;
  min-height: 60px;
}
.header-content.slider .slick-next:before,
.header-content.slider .slick-prev:before {
  content: " ";
  opacity: 1;
}

.services-content {
  background-color: #f3f3f3;
}

.our-services .skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  padding-top: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .our-services .skills-list {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .our-services .skills-list {
    justify-content: space-between;
  }
}
.our-services .skills-list .skill-item {
  text-align: center;
  padding: 49px 15px;
  max-width: 270px;
  min-height: 310px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 3px 0 0 #e5e6e6;
  -moz-box-shadow: 0 3px 0 0 #e5e6e6;
  box-shadow: 0 3px 0 0 #e5e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 40px;
}
.our-services .skills-list .skill-item:hover {
  background-color: #ffffff;
}
.our-services .skills-list .skill-item p {
  font-size: 12px;
  margin-top: 24px;
  line-height: 21px;
}
.our-services .skills-list .skill-item h2 {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}
.our-services .skills-list .skill-item .skill-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -23px;
}
.our-services .skills-list .skill-item .skill-button .read-more {
  display: unset;
  font-size: 14px;
  font-weight: 400;
}

.view-more-services {
  display: flex;
  min-height: 100px;
  background-color: #ececec;
  margin-top: 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 17px 37px 0 25px;
  box-sizing: border-box;
  font-size: 10px;
}
@media (min-width: 768px) {
  .view-more-services {
    justify-content: space-between;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .view-more-services {
    padding: 17px 37px 17px 25px;
    flex-direction: column;
    text-align: center;
  }
}
.view-more-services h1 {
  font-size: 29px;
}
.view-more-services p {
  margin-top: 4px;
  font-size: 12px;
}

.why-modus-container {
  background-color: #ececec;
}
.why-modus-container h3 {
  font-size: 16px;
  font-weight: 800;
}
.why-modus-container .why-modus-versus {
  position: relative;
  background-image: url(../../images/background-path.png);
  background-repeat: repeat-x;
}
.why-modus-container .why-modus-versus .windows-container {
  max-height: 342px;
  padding-top: 56px;
}
.why-modus-container .why-modus-versus h1 {
  color: #e8645a;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 53px;
}
.why-modus-container .why-modus-versus .advantages-container {
  background-color: #f3f3f3;
  min-height: 472px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .advantages-container {
    padding-top: 88px;
  }
}
@media (min-width: 768px) {
  .why-modus-container .why-modus-versus .advantages-container {
    padding-top: 211px;
  }
}
.why-modus-container .why-modus-versus .happy-clients-container {
  min-height: 212px;
  position: relative;
  /* the slides */
  /* the parent */
}
@media (min-width: 320px) and (max-width: 1279px) {
  .why-modus-container .why-modus-versus .happy-clients-container {
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .why-modus-container .why-modus-versus .happy-clients-container .slick-slide {
    margin: 0 13px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .why-modus-container .why-modus-versus .happy-clients-container .slick-slide {
    margin: 0 50px;
  }
}
@media (min-width: 1280px) {
  .why-modus-container .why-modus-versus .happy-clients-container .slick-list {
    margin: 0 -13px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .why-modus-container .why-modus-versus .happy-clients-container .slick-list {
    margin: 0 -50px;
  }
}
.why-modus-container .why-modus-versus .happy-clients-container .slick-arrow {
  width: 18px;
  height: 18px;
  background-color: #7f8c8c;
  top: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-position: center;
}
.why-modus-container .why-modus-versus .happy-clients-container .slick-arrow:before {
  content: " ";
  opacity: 1;
}
.why-modus-container .why-modus-versus .happy-clients-container .slick-arrow:hover {
  background-color: #e8645a;
}
.why-modus-container .why-modus-versus .happy-clients-container .slick-prev {
  right: 30px;
  background-image: url(../../images/nav-arrow.png);
  background-repeat: no-repeat;
  transform: rotate(90deg);
}
.why-modus-container .why-modus-versus .happy-clients-container .slick-slider {
  position: unset;
}
.why-modus-container .why-modus-versus .happy-clients-container .slick-next {
  right: 2px;
  background-image: url(../../images/nav-arrow.png);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}
.why-modus-container .why-modus-versus #why-modus-header-text {
  font-size: 13px;
  color: #7f8c8c;
  display: flex;
  justify-content: center;
}
.why-modus-container .why-modus-versus .window-header {
  display: flex;
  justify-content: space-between;
  max-height: 37px;
}
.why-modus-container .why-modus-versus .windows-wrapper {
  min-height: 481px;
  padding-top: 72px;
  box-sizing: border-box;
  position: relative;
}
.why-modus-container .why-modus-versus .windows-wrapper .window {
  background-color: #c1c7c8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 5px #c1c7c8;
  -moz-box-shadow: 0 0 0 5px #c1c7c8;
  box-shadow: 0 0 0 5px #c1c7c8;
}
.why-modus-container .why-modus-versus .windows-wrapper .window .circles {
  display: flex;
  flex-direction: row;
  padding-left: 32px;
  font-size: 28px;
  line-height: 29px;
}
.why-modus-container .why-modus-versus .windows-wrapper .window .circles .circle {
  color: #ececec;
  margin-right: 20px;
}
.why-modus-container .why-modus-versus .windows-wrapper .window .circles .circle::before {
  font-size: 50px;
}
.why-modus-container .why-modus-versus .windows-wrapper .window .image-container {
  max-width: 100%;
  height: auto;
}
.why-modus-container .why-modus-versus .windows-wrapper .window .image-container img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.why-modus-container .why-modus-versus .windows-wrapper .window .minimize:before {
  content: url(../../images/minimize.png);
}
.why-modus-container .why-modus-versus .windows-wrapper .side-window {
  max-height: 249px;
  max-width: 370px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .windows-wrapper .side-window {
    max-height: 126px;
    max-width: 166px;
    top: 91px;
  }
}
@media (min-width: 768px) {
  .why-modus-container .why-modus-versus .windows-wrapper .side-window {
    max-height: 249px;
    max-width: 370px;
    top: 132px;
  }
}
.why-modus-container .why-modus-versus .windows-wrapper .side-window .image-container img {
  max-height: 218px;
  max-width: 385px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .windows-wrapper .side-window .image-container img {
    max-height: 91px;
  }
}
.why-modus-container .why-modus-versus .windows-wrapper .side-window .minimize {
  padding: 2px 10px 11px 0;
}
.why-modus-container .why-modus-versus .windows-wrapper .side-window:first-child {
  left: 3px;
}
.why-modus-container .why-modus-versus .windows-wrapper .side-window:last-child {
  right: 7px;
}
.why-modus-container .why-modus-versus .windows-wrapper #main-window {
  z-index: 10;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .windows-wrapper #main-window {
    min-height: 145px;
    min-width: 189px;
  }
}
@media (min-width: 768px) {
  .why-modus-container .why-modus-versus .windows-wrapper #main-window {
    min-height: 349px;
    min-width: 561px;
  }
}
.why-modus-container .why-modus-versus .windows-wrapper #main-window .minimize {
  padding: 2px 7px 14px 0;
}
.why-modus-container .why-modus-versus .windows-wrapper #main-window .image-container img {
  position: absolute;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .windows-wrapper #main-window .image-container img {
    max-height: 160px;
    max-width: 189px;
  }
}
@media (min-width: 768px) {
  .why-modus-container .why-modus-versus .windows-wrapper #main-window .image-container img {
    max-height: 340px;
    max-width: 561px;
  }
}
.why-modus-container .why-modus-versus h1,
.why-modus-container .why-modus-versus .windows-wrapper,
.why-modus-container .why-modus-versus .happy-clients-slider {
  display: flex;
  justify-content: center;
}
.why-modus-container .why-modus-versus .happy-clients-slider {
  max-width: 1170px;
  min-height: 18px;
  padding: 49px 0 0;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .happy-clients-slider .slider-container {
    margin: 0 65px;
  }
}
.why-modus-container .why-modus-versus .happy-clients-slider img {
  min-width: 170px;
  max-height: 89px;
}
.why-modus-container .why-modus-versus .happy-clients-switcher {
  display: flex;
  align-items: center;
}
.why-modus-container .why-modus-versus .happy-clients-switcher img {
  max-height: 10px;
  padding-left: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .happy-clients-switcher img {
    padding-left: 10px;
    width: 29%;
    min-height: 14px;
  }
}
@media (min-width: 768px) {
  .why-modus-container .why-modus-versus .happy-clients-switcher img {
    width: 70%;
  }
}
@media (min-width: 1280px) {
  .why-modus-container .why-modus-versus .happy-clients-switcher img {
    width: 82%;
  }
}
.why-modus-container .why-modus-versus .advantages {
  display: flex;
  min-height: 259px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .why-modus-container .why-modus-versus .advantages {
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .why-modus-container .why-modus-versus .advantages {
    justify-content: space-between;
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .why-modus-container .why-modus-versus .advantages {
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .why-modus-container .why-modus-versus .advantages .skill-rates {
    margin-top: 30px;
  }
}
.why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper {
  display: flex;
  color: #7f8c8c;
}
@media (min-width: 768px) {
  .why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper {
    flex-direction: row;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper {
    flex-direction: column;
  }
}
.why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper span {
  font-size: 30px;
  position: absolute;
  top: 24px;
  right: 0;
  left: 0;
}
.why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper .progress {
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper .progress {
    margin-right: 22px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper .progress {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
.why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper .bar-overflow {
  overflow: hidden;
  width: 100%;
  max-height: 58px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper .bar-overflow {
    display: flex;
    justify-content: center;
  }
}
.why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper .bar {
  width: 120px;
  height: 122px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 15px solid #76c7c0;
  border-bottom-color: #e8645a;
  border-right-color: #e8645a;
}
.why-modus-container .why-modus-versus .advantages .skill-rates .rate-wrapper .bar-title {
  font-size: 16px;
  margin-top: 19px;
}
.why-modus-container .why-modus-versus .advantages .advantages-list {
  list-style: none;
  margin-top: 30px;
}
.why-modus-container .why-modus-versus .advantages .advantages-list .advantage-item {
  font-size: 13px;
  min-height: 26px;
  font-weight: 100;
  position: relative;
  padding-left: 16px;
  color: gray;
}
.why-modus-container .why-modus-versus .advantages .advantages-list .advantage-item::before {
  content: url(../../images/why-us-arrow.png);
  font-size: 17px;
  position: absolute;
  left: 0;
}
.why-modus-container .why-modus-versus .advantages .skill-rates {
  max-width: 570px;
}
.why-modus-container .why-modus-versus .advantages .skill-rates p {
  padding-left: 12px;
  font-size: 13px;
  min-height: 106px;
  line-height: 25px;
  margin-top: -5px;
  color: gray;
}
.why-modus-container .why-modus-versus .advantages .skill-rates .vehicula-mattis a {
  color: #76c7c0;
  text-decoration: underline;
}
.why-modus-container .why-modus-versus .clients-feedback {
  position: relative;
}
@media (min-width: 1280px) {
  .why-modus-container .why-modus-versus .clients-feedback {
    margin-left: 20px;
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .why-modus-container .why-modus-versus .clients-feedback {
    margin-top: 30px;
  }
}
.why-modus-container .why-modus-versus .clients-feedback h3 {
  min-height: 44px;
}
.why-modus-container .why-modus-versus .clients-feedback .client-feedback {
  background-color: #ffffff;
  position: relative;
  font-style: italic;
  font-size: 13px;
  min-height: 100px;
  padding: 9px 18px;
  line-height: 24px;
  color: #7f8c8c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .why-modus-container .why-modus-versus .clients-feedback .client-feedback {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.why-modus-container .why-modus-versus .clients-feedback .client-feedback:after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  margin: 10px auto 0;
  width: 0;
  height: 0;
  border-top: solid 17px #ffffff;
  border-left: solid 17px transparent;
  border-right: solid 40px transparent;
  transform: rotate(225deg);
}
.why-modus-container .why-modus-versus .clients-feedback .client-name {
  margin-top: 7px;
  padding-left: 62px;
  color: #e8645a;
  font-weight: 600;
}
@media (min-width: 1280px) {
  .why-modus-container .why-modus-versus .why-choose-us {
    min-width: 307px;
  }
}

body {
  background-color: #f3f3f3;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

select:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.navigation-item a {
  outline: 0;
}

.modus-versus-logo,
.link-navigation-item,
.read-more,
.view-more,
footer {
  color: #ffffff;
}

.services-content h1,
.services-content h2,
.services-content h3,
.why-modus-container h1,
.why-modus-container h2,
.why-modus-container h3 {
  color: #7f8c8c;
}

.our-services {
  min-height: 539px;
  color: #7f8c8c;
}
.our-services button {
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 7px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 767px) {
  .our-services button {
    margin-top: 15px;
  }
}

.modus {
  text-transform: uppercase;
}

.versus {
  text-transform: lowercase;
  margin-left: 4px;
  font-weight: 100;
  font-size: 25px;
}

.hovered {
  display: block;
}

.read-more {
  font-size: 14px;
  text-transform: lowercase;
  background-color: #76c7c0;
  -webkit-box-shadow: 0 3px 0 0 #62bdbd;
  -moz-box-shadow: 0 3px 0 0 #62bdbd;
  box-shadow: 0 3px 0 0 #62bdbd;
}
.read-more:hover, .read-more:active, .read-more:focus {
  background-color: #e8645a;
  -webkit-box-shadow: 0 3px 0 0 #e2534b;
  -moz-box-shadow: 0 3px 0 0 #e2534b;
  box-shadow: 0 3px 0 0 #e2534b;
}

.view-more {
  text-transform: uppercase;
  background-color: #e8645a;
  -webkit-box-shadow: 0 3px 0 0 #e2534b;
  -moz-box-shadow: 0 3px 0 0 #e2534b;
  box-shadow: 0 3px 0 0 #e2534b;
}
@media (min-width: 320px) and (max-width: 767px) {
  .view-more {
    width: 100%;
  }
}
.view-more:hover, .view-more:active, .view-more:focus {
  border: 0;
}

.content {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 1280px) {
  .content {
    max-width: 1170px;
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .content {
    max-width: 720px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .content {
    max-width: 300px;
  }
}

.page-header {
  display: flex;
  justify-content: center;
  background-color: #76c7c0;
  min-height: 79px;
  align-items: center;
  background-image: url(../../images/background-path-header.png);
  background-repeat: repeat-x;
  background-position: bottom;
}
.page-header .content {
  position: relative;
}

.panel-header {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .panel-header {
    min-width: 1170px;
  }
}
.panel-header .nav-toggle {
  background-image: url(../../images/bars-solid.svg);
  height: 49px;
  width: 40px;
  background-size: 20px 20px;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .panel-header .nav-toggle {
    display: none;
  }
}
.panel-header .modus-versus-logo {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 800;
  margin-left: 6px;
  align-items: baseline;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .panel-header .modus-versus-logo {
    order: 2;
  }
}
.panel-header .navigation {
  display: flex;
  flex-direction: row;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .panel-header .navigation {
    order: 3;
  }
}
.panel-header .navigation .search-bar {
  display: none;
  position: absolute;
  right: 0;
  top: 53px;
  min-height: 30px;
  z-index: 60;
  padding-left: 10px;
  border: 5px solid #e8645a;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.panel-header .navigation .navigation-header-list {
  display: flex;
  list-style: none;
  font-size: 13px;
  align-items: center;
  font-weight: 600;
}
@media (min-width: 1280px) {
  .panel-header .navigation .navigation-header-list {
    padding-right: 13px;
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .panel-header .navigation .navigation-header-list {
    position: absolute;
    top: 70px;
    z-index: 50;
    right: 0;
    left: 0;
    flex-direction: column;
    background: rgba(232, 232, 232, 0.6);
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .panel-header .navigation .navigation-header-list.toggle {
    display: none;
  }
}
.panel-header .navigation .navigation-header-list li {
  cursor: pointer;
}
.panel-header .navigation .navigation-header-list .navigation-item {
  min-height: 29px;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .panel-header .navigation .navigation-header-list .navigation-item {
    margin-bottom: 7px;
  }
}
.panel-header .navigation .navigation-header-list .navigation-item:hover {
  background-color: #e8645a;
  -webkit-box-shadow: 0 3px 0 0 #e2534b;
  -moz-box-shadow: 0 3px 0 0 #e2534b;
  box-shadow: 0 3px 0 0 #e2534b;
}
.panel-header .navigation .navigation-header-list .navigation-item.active, .panel-header .navigation .navigation-header-list .navigation-item:hover {
  min-height: 29px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel-header .navigation .navigation-header-list .navigation-item .link-navigation-item {
  padding: 0 11px;
}
.panel-header .navigation .navigation-header-list .navigation-item .link-navigation-item.active {
  font-size: 14px;
  background-color: #62a29e;
  -webkit-box-shadow: 0 3px 0 0 #528b86;
  -moz-box-shadow: 0 3px 0 0 #528b86;
  box-shadow: 0 3px 0 0 #528b86;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 29px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel-header .navigation .navigation-header-list .link-navigation-item:not(:first-child):active {
  padding: 0 10px;
}
.panel-header .navigation .navigation-header-list .triangle-top {
  width: 10%;
  height: 6px;
  padding-left: 10%;
  position: absolute;
  display: none;
}
@media (min-width: 320px) and (max-width: 767px), (min-width: 1280px) {
  .panel-header .navigation .navigation-header-list .triangle-top {
    top: 39px;
    left: 5px;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .panel-header .navigation .navigation-header-list .triangle-top {
    top: 7px;
    left: 110px;
  }
}
.panel-header .navigation .navigation-header-list .triangle-top::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
@media (min-width: 320px) and (max-width: 767px), (min-width: 1280px) {
  .panel-header .navigation .navigation-header-list .triangle-top::after {
    margin-left: -500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #e2534b;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .panel-header .navigation .navigation-header-list .triangle-top::after {
    border-left: 0 solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e2534b;
    transform: rotate(45deg);
  }
}
.panel-header .navigation .navigation-header-list .subnavigation {
  position: absolute;
  min-width: 198px;
  min-height: 109px;
  list-style: none;
  left: 1px;
  z-index: 10;
  flex-direction: column;
  padding: 3px;
  box-sizing: border-box;
  background-color: #e2534b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .panel-header .navigation .navigation-header-list .subnavigation {
    top: 45px;
  }
}
@media (min-width: 1280px) {
  .panel-header .navigation .navigation-header-list .subnavigation {
    top: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .panel-header .navigation .navigation-header-list .subnavigation {
    left: 125px;
    top: 0;
  }
}
.panel-header .navigation .navigation-header-list .subnavigation .subnavigation-item {
  max-width: 196px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  background-color: #e8645a;
}
.panel-header .navigation .navigation-header-list .subnavigation .subnavigation-item:last-child {
  margin-bottom: 0;
}
.panel-header .navigation .navigation-header-list .subnavigation .subnavigation-item a {
  font-size: 13px;
  text-transform: initial;
  color: #ffffff;
}
.panel-header .navigation .navigation-header-list .subnavigation .subnavigation-item a::before {
  transform: rotate(-90deg);
}
.panel-header .navigation .navigation-header-list .navigation-item-arrow {
  margin: 0 10px 0 0;
}
.panel-header .navigation .navigation-header-list .navigation-item-arrow a::before {
  min-height: 7px;
  min-width: 16px;
}
.panel-header .navigation .navigation-header-list .navigation-item-arrow.active-link {
  background-color: #e8645a;
  -webkit-box-shadow: 0 3px 0 0 #e2534b;
  -moz-box-shadow: 0 3px 0 0 #e2534b;
  box-shadow: 0 3px 0 0 #e2534b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.panel-header .navigation .navigation-header-list .navigation-item-arrow a,
.panel-header .navigation .navigation-header-list .subnavigation-item a {
  position: relative;
}
.panel-header .navigation .navigation-header-list .navigation-item-arrow a::before,
.panel-header .navigation .navigation-header-list .subnavigation-item a::before {
  background-image: url(../../images/nav-arrow.png);
  background-repeat: no-repeat;
  background-size: 8px 5px;
  content: "";
  display: inline-block;
}
.panel-header .navigation .navigation-header-list .subnavigation-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.panel-header .navigation .navigation-header-list .subnavigation-item a::before {
  min-height: 14px;
  min-width: 14px;
}
.panel-header .navigation .navigation-header-list .subnavigation-item:hover {
  background-color: #76c7c0;
}
.panel-header .navigation .navigation-header-list .empty-subnavigation-item {
  position: absolute;
  opacity: 0;
}
@media (min-width: 1280px) {
  .panel-header .navigation .navigation-header-list .empty-subnavigation-item {
    top: -15px;
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .panel-header .navigation .navigation-header-list .empty-subnavigation-item {
    top: 0px;
    left: -17px;
  }
}
.panel-header .navigation .navigation-header-list .navigation-item {
  text-transform: uppercase;
  display: flex;
  position: relative;
}
@media (min-width: 1280px) {
  .panel-header .navigation .navigation-header-list .navigation-item {
    margin: 0 16px 0 13px;
  }
}
.panel-header .navigation .navigation-header-list .navigation-item:before {
  margin-top: 6px;
}
@media (min-width: 1280px) {
  .panel-header .navigation .navigation-header-list #home-navigation {
    margin-right: 4px;
  }
}

.search {
  width: 31px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  cursor: pointer;
}
.search.active-search {
  background-color: #e8645a;
  -webkit-box-shadow: 0 3px 0 0 #e2534b;
  -moz-box-shadow: 0 3px 0 0 #e2534b;
  box-shadow: 0 3px 0 0 #e2534b;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.search .btn > span.icon {
  float: left;
  width: 15px;
  height: 14px;
  background-image: url(../../images/search-solid.png);
  background-repeat: no-repeat;
  background-size: 15px 14px;
}

.outside {
  display: block;
}

footer {
  background-color: #76c7c0;
  background-image: url(../../images/background-path-footer.png);
  background-repeat: repeat-x;
}
footer .footer-wrapper {
  background-color: #62a29e;
}
footer .footer-wrapper .under-footer {
  min-height: 51px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
footer .footer-wrapper .social-item:not(:last-child) {
  margin-right: 28px;
}
footer .footer-wrapper .social-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}
footer .content,
footer .under-footer {
  display: flex;
  justify-content: space-between;
}
footer .under-footer,
footer .social-links {
  display: flex;
  flex-direction: row;
}
footer .under-footer {
  width: 100%;
}
footer .under-footer .modus-date {
  font-size: 12px;
}
footer .modus-versus-logo {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  font-weight: bold;
}
footer .upper-footer {
  min-height: 263px;
  padding-top: 37px;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .upper-footer {
    flex-direction: column;
    padding-bottom: 37px;
  }
}

.footer-information.footer-modus, .footer-information.footer-blog {
  max-width: 370px;
  width: 100%;
}
.footer-information.footer-modus .blog-header, .footer-information.footer-blog .blog-header {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  margin: 8px 0 21px 0;
}
.footer-information.footer-modus .blog-header .blog-text-header, .footer-information.footer-blog .blog-header .blog-text-header {
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 4px;
}
.footer-information.footer-modus .blog-header p, .footer-information.footer-blog .blog-header p {
  font-style: italic;
  font-weight: 100;
}
.footer-information.footer-modus .blog-container, .footer-information.footer-blog .blog-container {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  margin-top: 16px;
  min-height: 74px;
}
.footer-information.footer-modus .blog-container img, .footer-information.footer-blog .blog-container img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 1280px) {
  .footer-information.footer-modus .blog-container img, .footer-information.footer-blog .blog-container img {
    max-width: 70px;
    max-height: 70px;
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .footer-information.footer-modus .blog-container img, .footer-information.footer-blog .blog-container img {
    max-width: 120px;
    max-height: 70px;
  }
}
.footer-information.footer-modus .blog-container .blog-description, .footer-information.footer-blog .blog-container .blog-description {
  padding: 0 17px;
}
.footer-information.footer-modus .blog-container p:first-child, .footer-information.footer-blog .blog-container p:first-child {
  line-height: 17px;
}
.footer-information.footer-modus .blog-container .blog-date, .footer-information.footer-blog .blog-container .blog-date {
  line-height: 27px;
  color: #000000;
}
.footer-information.footer-modus {
  padding-left: 2px;
}
.footer-information.footer-modus .footer-modus-text {
  padding: 19px 0;
  font-size: 13px;
  line-height: 23px;
}
.footer-information.footer-modus .footer-contacts {
  font-size: 13px;
}
.footer-information.footer-modus .footer-contacts .contact-details {
  font-size: 20px;
  margin-left: 15px;
  font-style: italic;
  font-weight: 400;
}
.footer-information.footer-modus .footer-contacts .phone,
.footer-information.footer-modus .footer-contacts .email {
  padding-bottom: 3px;
  display: flex;
  align-items: center;
}
.footer-information.footer-modus .footer-contacts .phone p,
.footer-information.footer-modus .footer-contacts .email p {
  min-width: 46px;
}
.footer-information.footer-community, .footer-information.footer-company {
  max-width: 170px;
  margin-top: 8px;
  width: 100%;
  font-size: 13px;
}
.footer-information.footer-community h2, .footer-information.footer-company h2 {
  color: #000000;
}
.footer-information.footer-community ul, .footer-information.footer-company ul {
  list-style: none;
  padding: 25px 23px 0;
}
.footer-information.footer-community ul li, .footer-information.footer-company ul li {
  display: flex;
  margin-bottom: 6px;
  font-size: 13px;
  cursor: pointer;
}
.footer-information.footer-community ul li::before, .footer-information.footer-company ul li::before {
  background-image: url(../../images/nav-arrow.png);
  background-repeat: no-repeat;
  background-size: 8px 5px;
  content: "";
  display: inline-block;
  height: 10px;
  width: 12px;
  margin: 2px 3px 0 0;
  transform: rotate(-90deg);
}

/*# sourceMappingURL=styles.css.map */
